body {
    background-color: black;
    color: white;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}
#tablero{
    margin-top: 250px;
}
input{
    background: grey;
    border: 4px solid whitesmoke;
}
button {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

button:hover {
	color: #ffffff !important;
	background: grey;
	border-color: whitesmoke !important;
	transition: all 0.4s ease 0s;
}